/ReceiptScanner/target/
/test/target/
/mavenproject3/target/
/mooc-java-programming-ii/part10-Part10_13.LiteracyComparison/target/
/mooc-java-programming-ii/part11-Part11_01.Customer/target/
/mooc-java-programming-ii/part11-Part11_02.ABookAndAPlane/target/